.about-page {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
  }
  .about-page h2 {
    text-align: center;
    color: #2e8b57;
    margin-top: 2rem;
  }
  .text{
    text-align: center;
  }